<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>User Page</ion-title>
    </ion-navbar>
</ion-header>






<ion-content padding class="form-content">
 
    <h1 class="center" >Welcome user: <strong> {{users.userName}} </strong>  </h1>

    <ion-card>

      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/placeholder.jpg">
        </ion-avatar>
         <h2><strong>Name:</strong>  {{userData.name}}</h2>
        <h2> <strong>Last Name:</strong> {{userData.lastname}}  </h2>
         <p>  <strong>Email:</strong> {{userData.email}}</p>
      </ion-item>
          </ion-card>

          <button ion-button full type="button" color="danger" (click)="logOut()"  >log Out</button>







          <img [src]="currentImage" *ngIf="currentImage" id="camera-image">
   
          <ion-fab center bottom>
            <button ion-fab (click)="takePicture()">
               <ion-icon name="camera"></ion-icon>
             </button>
           </ion-fab>
        



</ion-content>